@page
@model Clinique.Pages.Medecins.DeleteModel

@{
    ViewData["Title"] = "Delete";
}
<body style="background-color:lightgrey;">   
</body>


<h3>Etes vous sur de vouloir effacer ce medecin?</h3>
<div>
    
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Medecin.Nom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Medecin.Nom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Medecin.Prenom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Medecin.Prenom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Medecin.Sexe)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Medecin.Sexe)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Medecin.Telephone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Medecin.Telephone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Medecin.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Medecin.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Medecin.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Medecin.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Medecin.Specialite)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Medecin.Specialite)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Medecin.MedecinId" />
        <input type="submit" value="Effacer" class="btn btn-danger" /> |
        <a asp-page="./Index" class="btn btn-dark">Retour</a>
    </form>
</div>
