@page
@model Clinique.Pages.Prescriptions.DetailsModel

@{
    ViewData["Title"] = "Details";
}
<body style="background-color:lightgrey;">   
</body>


<div>
    <h4>Details de cette prescription</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prescription.Consultation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prescription.ConsultationId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prescription.Prescrire)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prescription.Prescrire)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Prescription?.PrescriptionId" class="btn btn-primary">Editer</a> |
    <a asp-page="./Index" class="btn btn-dark">Retour</a>
</div>
